/*

    Adding external fonts

*/

/* Clash Display */
@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url(../resources/fonts/clash-display/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: 'ClashDisplay-Extralight';
    src: url(../resources/fonts/clash-display/ClashDisplay-Extralight.otf);
}
@font-face {
    font-family: 'ClashDisplay-Light';
    src: url(../resources/fonts/clash-display/ClashDisplay-Light.otf);
}
@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url(../resources/fonts/clash-display/ClashDisplay-Medium.otf);
}
@font-face {
    font-family: 'ClashDisplay-Regular';
    src: url(../resources/fonts/clash-display/ClashDisplay-Regular.otf);
}
@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url(../resources/fonts/clash-display/ClashDisplay-Semibold.otf);
}

/* Remove margins and padding */
*{
    margin: 0;
    padding: 0;
}

/* Header styling */
.navbar{
    background-color: #17406D;
}
.navbar-toggler
{
    border: none;
}

.navbar-toggler-icon{

    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}
.nav-link{
    color: white;
    font-family: 'ClashDisplay-Light';
    display: flex;
    justify-content: right;
    font-size: 150%;
}

.navbar-brand img{
    width: 20vw;
}

.banner-information{
    background-color: #17406D;
    color: white;
    
}


.banner-title h5{
    font-family: 'ClashDisplay-SemiBold';
    font-size: 225%;
    margin-top: 10%;
}

.banner-subtitle h6{

    font-family: 'ClashDisplay-Regular';
    font-size: 125%;
}



.cta-anchor button{
    border: none;
    background-color: #006DE4;
    color: white;

    padding: 4%;
    font-family: 'ClashDisplay-Medium';
    font-size: 120%;
    
}
.cta-anchor button p{
   margin-top: auto;
   margin-bottom: auto;
 
}


.banner-cta{
    display: flex;
    align-items: center;
    justify-content: center ;

}
.cta-section{

    /*Delete the default style of the <a> element*/
    margin-top: 5%;

    color: white;
    text-decoration: none;
    
}

.wave-container{

    position: relative;
    margin-top: 15vh;

}

.wave-container .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../resources/img/stacked-waves-haikei.png);
    background-size: 2000px 100px;
}





/*
    Features
*/


.feature{

    align-items: center;
}

.feat1, .feat2, .feat3  {
    margin-top: 5vh;
}

.feature i{
    font-size: 325%;
}
.feature h5{
 
    margin-left: 5%;
    font-family: 'ClashDisplay-Regular';
    font-size: 150%;
}

/*
    Value message

*/
.value-messages{
    padding: 5%;
    margin-top: 20%;
}
.value-msg-1 .msg-txt h5,
.value-msg-2 .msg-txt h5{
    font-family: 'ClashDisplay-Semibold';
    font-size: 150%;
    color: #0345AC;
}
.msg-txt ul{
    font-family: 'ClashDisplay-Regular'; 
    font-size: 125%;
}

.value-msg-2{
    margin-top: 20%;
}

.value-msg-2 .msg-txt p{
    font-family: 'ClashDisplay-Regular';
    font-size: 125%;   
    text-align: left;
}

/*

    Contact
*/

.contact-form-msg h5{
    font-size: 150%;
    font-family: 'ClashDisplay-Semibold';
    color: #0345AC;

}

.contact-form-msg{
    padding: 5%;
    margin-top: 10%;
    text-align: center;
}

.contact-form{
    text-align: center;
}
.contact-form-disclaimer{
    text-align: left;
    font-family: 'ClashDisplay-Light';
    padding-left: 5%;
    padding-right: 5%;
}

.cta-send-form{
    padding-right: 20%;
    padding-left: 20%;
    margin-bottom: 10%;
    font-family: 'ClashDisplay-Medium';
}
.form-control{
    margin-bottom: 10%;
}

footer{
    background-color: #17406D;
    color: white;
    font-family: 'ClashDisplay-Regular';
}
.footer-title li{

    font-size: 125%;
    font-family: 'ClashDisplay-Medium';
    margin-top: 5% ;
}
.social-media-elements{
    display: flex;
}

.footer-pages{

    margin-top: 10%;
}

.navbar-collapse{

    height: 100vh;
    transition: none !important;
}
.social-media-elements i{

    font-size: 160%;
    padding: 5%;
}

.social-media-elements a{
    color: white;
    text-decoration: none;
    font-family: 'ClashDisplay-Regular';
    font-size: 1.5rem;
    padding: 5%;
}

@media (min-width: 768px) {
    .value-messages{
        margin-top: 5% ;
    }  

    .msg-img{
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }
    .msg-img img{
        width: 65%;

    }
}



@media (min-width: 992px) {
    .navbar-collapse{

        height: 20vh;
    }
}

@media (min-width:1100px) {


    .navbar-brand{
        width: 15%;
    }
    .navbar-brand img{
        width: 80%;
    }

    
    .banner-title,
    .banner-subtitle,
    .cta-section{
        padding-left: 5%;
    }
    .value-msg-2{
        margin-top: 10%;
    }
    .value-msg-1 .msg-txt h5,
    .value-msg-2 .msg-txt h5{
        
        font-size: 300%;

    }

    .msg-txt ul{
        margin-top: 3%;
    }
    .msg-txt ul li{
        font-size: 125%;

    }
    
    .value-msg-2 .msg-txt p{
        font-size: 150%;
    }

    .contact-form-msg{
        margin-top: 3%;
    }
    .contact-form-msg h5{
        font-size: 250%;
    }

    .cta-section{
        margin-top: 3%;    
    }
    .cta-anchor button{
       
        padding: 2.5%;
    }

    .form-group input{

        height: 8vh;
    }


}

@media (min-width: 2560px) {
    
    .navbar-brand img{
        width: 13vw;
    }

    .nav-link{
        font-size: 300%;
    }

    .nav-item{
        padding: 5%;
    }
    .banner-title,
    .banner-subtitle,
    .cta-section{
        margin-left: 5%;
    }
    .banner-title h5{
        font-size: 800%;
    }
    .banner-subtitle h6{
        font-size: 350%;
    }

    .cta-anchor button p {
        font-size: 300%;

    }
    .feature i{
        font-size: 600%;
    
    }
    .feature h5{

        font-size: 400%;
    }


    .value-msg-2{
        margin-top: 10%;
    }
    .value-msg-1 .msg-txt h5,
    .value-msg-2 .msg-txt h5{
        
        font-size: 500%;

    }

    .msg-txt ul{
        margin-top: 3%;
    }
    .msg-txt ul li{
        font-size: 250%;

    }
    
    .value-msg-2 .msg-txt p{
        font-size: 325%;
    }

    .contact-form-msg{
        margin-top: 3%;
    }
    .contact-form-msg h5{
        font-size: 500%;
    }

    .cta-section{
        margin-top: 3%;    
    }
    .contact-form-disclaimer{
        font-size: 250%;
    }
    .cta-send-form{
        width: 120%;
        height: 5vh;
        font-size: 300%;
    }
    .form-group input{
        width: 120%;
        font-size: 250%;
        height: 5vh;
    }
}